<header class="header" id="header">
  <div class="logo-main">
    <a href="/">
      <figure>
        <img src="/{{ active_theme_path() }}/images/Imbalance-Logo-White.png" alt="Imbalance">
      </figure>
    </a>
  </div>
  <ul class="main-menu">
    {{ drupal_menu('main') }}
        {{ drupal_block('language_block:language_interface') }}
  </ul>
  <ul class="lang-menu">
  {{ drupal_block('language_block:language_interface') }}
  </ul>
  <div id="hamburger">
      <div class="line" id="one"></div>
      <div class="line" id="two"></div>
      <div class="line" id="three"></div>
    </div>

  <div class="mobile-menu">
    <ul class="mobile-menu__items">
      {{ drupal_menu('main') }}
    </ul>
  </div>
</header>