{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="preload" as="font" href="/{{ active_theme_path() }}/fonts/Manrope-Regular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/{{ active_theme_path() }}/fonts/Jura-Regular.woff2" type="font/woff2" crossorigin="anonymous">
    <css-placeholder token="{{ placeholder_token|raw }}">
    {% if logged_in %}
      <style>
        .toolbar-fixed .page > header {
          top: 0;
        }
        .toolbar-fixed.toolbar-tray-open .page > header {
          top: 39px;
        }
        .toolbar-fixed.toolbar-tray-open .page > header {
          top: 79px;
        }
        .toolbar-fixed.toolbar-tray-open .page > header.header--open-menu {
          top: 39px;
        }
        .toolbar-fixed.toolbar-tray-open.body--scrolled .page > header.header--open-menu {
          top: 79px;
        }
        .toolbar-fixed .page .expanded-menu {
          top: 99px;
        }
        .toolbar-fixed.toolbar-tray-open .page .expanded-menu {
          top: 139px;
        }
        .toolbar-fixed .page .article__share,
        .toolbar-fixed .page .article__progress {
          top: 139px;
        }
        .toolbar-fixed.toolbar-tray-open .page .article__share,
        .toolbar-fixed.toolbar-tray-open .page .article__progress {
          top: 159px;
        }
      </style>
    {% endif %}
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
