{#
/**
 * @file
 * Default theme implementation for a views mini-pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 *
 * @ingroup themeable
 */
#}
{% if items.previous or items.next %}
  <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="pager__items js-pager__items">
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a class="more-link" href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <svg><use xlink:href="/{{ active_theme_path() }}/images/sprite.svg#arrow"></use></svg>
            <span>Προηγούμενη σελίδα</span>
          </a>
        </li>
      {% endif %}
      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a class="more-link" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span>Επόμενη σελίδα</span>
            <svg><use xlink:href="/{{ active_theme_path() }}/images/sprite.svg#arrow"></use></svg>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
