{% if view.result %}
  {% for key, result in view.result %}
    {% set term = result._entity.getTranslation(language) %}

    {% if term.field_media[0] %}
      <figure class="team-image">
        {{ term.field_media.entity|view('portrait') }}
        <div class="transparent-box">
            <figcaption class="caption">
              <div>{{ term.getName() }}</div>
              <p class="opacity-low">{{ term.field_role.value }}</p>
            </figcaption>
        </div>
      </figure> 
    {% endif %}
  {% endfor %}
{% endif %}