{% if view.result %}
  {% for key, result in view.result %}
    {% set node = result._entity.getTranslation(language) %}

    <div class="event">
      <div class="event-img">
      </div>
      <div class="event-content">
        <h2>{{ node.title.value }}</h2>
        <p><b>{{ 'Date'|t }}: </b>{{ node.field_date.value|date('d/m/Y') }}</p>
        {% if not node.field_hide_time.value == 1 %}
          <p><b>{{ 'Time'|t }}: </b>{{ node.field_date.value|date('H:i') }}</p>
        {% endif %}
        {% if node.field_duration.value %}
          <p><b>{{ 'Duration'|t }}:</b> {{ node.field_duration.value }}</p>
        {% endif %}
        {% if node.field_link.title and node.field_link.uri %}
          <a href="{{ node.field_link.uri }}"><p><b>{{ 'Online'|t }}:</b> {{ node.field_link.title }}</p></a>
        {% elseif node.field_place.value %}
          {% if node.field_no_map.value == 1 %}
            <p><b>{{ 'Address'|t }}:</b> {{ node.field_place.value }}</p>
          {% else %}
            <a href="https://maps.google.com/maps?q={{ node.field_place.value|replace({' ': "+"}) }}"><p><b>{{ 'Address'|t }}:</b> {{ node.field_place.value }}</p></a>
          {% endif %}  
        {% endif %}
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
  {% endfor %}
{% endif %} 