{% if view.result %}
  <div class="default-teasers">
    {% for key, result in view.result %}

      {% if view.id() == 'search' %}
        {% set node = result._object.getValue() %}
      {% else %}
        {% set node = result._entity %}
      {% endif %}

      <article class="default-teaser">
        <a href="{{ path('entity.node.canonical', {'node': node.id()}) }}">
          <div class="default-teaser__info{% if view.params.cat %} default-teaser__info--cat{% endif %}">
            {% if view.params.cat %}
              {% for category in node.field_category %}
                {% if loop.last %}
                  <span class="default-category" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': category.target_id}) }}">{{ xstrtoupper(category.entity.name.value) }}</span>
                {% endif %}
              {% endfor %}
            {% endif %}
            <h4>{{ node.title.value }}</h4>
            <time class="default-date" datetime="{{ node.created.value|date('c') }}">{{ node.created.value|date('d.m.y') }} | {{ node.created.value|date('H:i') }}</time>
          </div>
          {% if node.field_media[0] %}
            <figure>
              {{ node.field_media.entity|view('teaser_default') }}
            </figure>
          {% endif %}
        </a>
      </article>

      {% if view.params.adv and loop.index == 6 %}
        <div id="infeed1" class="adv adv--full">
          <script>
            googletag.cmd.push(function() {
              googletag.display("infeed1");
            });
          </script>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if view.params.pager %}
  {{ pager }}
{% endif %}
