{% if data.page %}
  {{ xembed_view('articles', 'latest', 2, 12, {'pager': 'mini', 'display': 'default_teaser', 'adv': true, 'cat': true}, data.term.id()) }}
{% else %}
  {{ xembed_view('articles', 'latest', 2, 12, {'pager': 'mini', 'display': 'default_teaser', 'cat': true}, data.term.id()) }}
{% endif %}