{% if child %}
  {{ xembed_view('articles', 'latest', 0, 12, {'pager': 'mini', 'display': 'default_teaser', 'adv': true}, data.term.id()) }}
{% elseif tag %}
  {{ xembed_view('articles', 'latest', 0, 12, {'pager': 'mini', 'display': 'default_teaser', 'adv': true, 'cat': true}, data.term.id()) }}
{% else %}
  {% if data.page %}
    {{ xembed_view('articles', 'latest', 2, 12, {'pager': 'mini', 'display': 'default_teaser','adv': true}, data.term.id()) }}
  {% else %}
    {{ xembed_view('articles', 'latest', 2, 12, {'pager': 'mini', 'display': 'default_teaser'}, data.term.id()) }}
  {% endif %}
{% endif %}
