{#{% if data.term.getDescription() %}#}
{#  {{ data.term.getDescription()|raw }}#}
{#{% endif %}#}

{#{{ xembed_view('articles', 'latest', 0, 16, {'pager': 'full', 'display': 'square_teaser'}, data.term.id()) }}#}

