@import url(https://fonts.googleapis.com/css?family=Oswald:400, 700);
 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #242424;
    font-family:'Oswald', sans-serif;
    background: -webkit-canvas(noise);
    background: -moz-element(#canvas);
    overflow: hidden;
}
html::after {
    content:'';
    background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.center {
    height: 100%;
    width: 100%;
    position: absolute;
    top: calc(50% - 200px);
    /* left: calc(50% - 250px); */
    text-align: center;
}
h1, p {
    margin: 0;
    padding: 0;
    -webkit-animation: funnytext 4s ease-in-out infinite;
    animation: funnytext 4s ease-in-out infinite;
}
h1 {
    font-size: 16rem;
    color: rgba(0, 0, 0, 0.3);
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
p {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6);
}
body::after, body::before {
    content:' ';
    display:block;
    position:absolute;
    left:0;
    right:0;
    top:-4px;
    height:4px;
    -webkit-animation: scanline 8s linear infinite;
    animation: scanline 8s linear infinite;
    opacity: 0.33;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0)), -webkit-canvas(noise);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0)), -moz-element(#canvas);
}
body::before {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
button {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0 0;
    padding: 15px 20px;
    border: 0;
    border-radius: 0;
    outline: none;
    font-weight: 700;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    width: 200px;
    height: 50px;
    position: relative;
    z-index: 999;
  }
@-webkit-keyframes scanline {
    0% {
        top:-5px;
    }
    100% {
        top:100%;
    }
}
@keyframes scanline {
    0% {
        top:-5px;
    }
    100% {
        top:100%;
    }
}
@-webkit-keyframes funnytext {
    0% {
        color: #9b69ff47;
        -webkit-filter: blur(3px);
    }
    30% {
        color: #9b69ff86;
        -webkit-filter: blur(1px);
    }
    65% {
        color: #9b69ff30;
        -webkit-filter: blur(5px);
    }
    100% {
        color: #9b69ff47;
        -webkit-filter: blur(3px);
    }
}
@keyframes funnytext {
    0% {
        color: #9b69ff47;
        filter: blur(3px);
    }
    30% {
        color: #9b69ff86;
        filter: blur(1px);
    }
    65% {
        color: #9b69ff30;
        filter: blur(5px);
    }
    100% {
        color: #9b69ff47;
        filter: blur(3px);
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 12rem;
    }
}