.contact-info {
  max-width: 720px;
  margin: 0 auto 40px;
  text-align: center;
  /* font-size: 1.4rem; */
  line-height: 1.8rem;
  letter-spacing: 0.01em;
  font-family: 'Manrope', sans-serif;
}
.contact-info p {
  margin: 0 0 30px;
}
.contact-info strong {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.contact-info a {
  /* font-size: 1.8rem; */
  line-height: 1.8rem;
  font-weight: bold;
  color: #9b69ff;
}
.contact-form {
  max-width: 540px;
  margin: 0 auto;
  padding: 34px;
  /* border: 3px solid #9b69ff; */
  text-align: center;
}

button {
  display: inline-block;
  vertical-align: top;
  margin: 20px 0 0;
  padding: 15px 20px;
  border: 0;
  border-radius: 0;
  outline: none;
  font-weight: 700;
  background: var(--red);
  color: #fff;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #9b69ff;
  background-color: rgba(255, 255, 255, 0);
  color: #9b69ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 14pt;
  font-family: 'Manrope', sans-serif;
}

input:focus {
  border-bottom: 3px solid #ffffff;
  background-color: #000000;
  color: white;
  
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #9b69ff;
  background-color: rgba(255, 255, 255, 0);
  color: #9b69ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 14pt;
  font-family: 'Manrope', sans-serif;
}

textarea:focus {
  border: 3px solid #ffffff;
  background-color: #000000;
  color: white;
  
}

label {
  font-size: 18pt;
  color: #9b69ff;
}

.form-item {
  margin-top: 30px;
}

/* @media screen and (max-width: 450px) {
  .contact-info {
    margin: 0 0 20px;
  }
  .contact-info p {
    margin: 0 0 20px;
  }
  .contact-form {
    padding: 20px 14px;
  }
} */

@media screen and (max-width: 650px) {
  .contact-form {
    padding: 20px 20px;
    overflow: hidden;
  }
  .contact-info {
    margin: 0 10px 20px;
  }
  .contact-info p {
    margin: 0 10px 20px;
  }
}