.gallery {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1800px;
  margin: auto;
}
.gallery-info {
  max-width: 720px;
  margin: 0 auto 40px;
  text-align: center;
  /* font-size: 1.4rem; */
  line-height: 1.8rem;
  letter-spacing: 0.01em;
  font-family: 'Manrope', sans-serif;
}
.gallery-info p {
  margin: 0 0 30px;
}

.gallery img {
  height: 350px;
  width: 500px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.gallery-image {
  box-sizing: content-box;
  margin: 10px;
  height: 350px;
  width: 500px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  right: 10px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 350px;
  width: 500px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.gallery-image:hover img { 
  transform: scale(1.1);
}

.gallery-image:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.gallery-image:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.gallery-image:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}

.opacity-low {
  opacity: 0.5;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 20px;
  background: rgba(0, 0, 0, 0.821);
  z-index: 3;
  overflow: auto;
}
.modal img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal:before,
.modal:after {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 4px;
  height: 20px;
  background: #fff;
  cursor: pointer;
}
.modal:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 650px) {

  
.gallery img {
  height: 100%;
  width: 100%;
}

.gallery-image {
  height: auto;
  width: 100%;
}

.transparent-box {
  height: 100%;
  width: 100%;
}

}