.cover img{
    width: 100%;
    height: auto;
    /* margin-top: 150px; */
    /* bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 70px;
    -o-object-fit: contain;
    object-fit: contain; */

}

.cover {
  text-align: center;

}

.project-info-main {
  display: -webkit-box;
  padding: 80px;
}

.project-info-main .project-info-title {
  width: 50%;
  /* border: 1px solid; */
}

.project-info-main .project-info-title h1{
  font-size: 40pt;
  margin-bottom: 5%;
}

.project-info-subtitle {
  width: 50%;
  /* border: 1px solid; */
  margin: auto;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
}

.project-info-credits span {
  color: #9b69ff;
}

.project-info-credits div {
  margin-bottom: 5px;
}

.project {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.project-main {
  margin: 100px;
}
.project-top {
  background: #ffffff14;
  margin-top: 120px;
}

.project-body {
  max-width: 800px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .project-info-subtitle {
    font-size: 1rem;
    margin: auto;
    margin-top: 30px;
    width: 80%;
    margin-left: 0px;
  }

  .project-info-main .project-info-title {
    width: 100%;
  }
  .project-info-main .project-info-title h1 {
    font-size: 30pt;
  }
  .project-info-main {
    display: block;
    padding: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .project-info-subtitle {
    font-size: 1rem;
    margin: auto;
    margin-top: 30px;
    width: 100%;
  }

}