{% if data.team_terms %}
    <section class="section">
    <section class="title-area">
        <div class="title-container">
            <div class="top left"></div>
            <div class="bottom right"></div>
            <h1 class="section-title">
                Our team
            </h1>
        </div>
    </section>
    <section class="team">
        {% for term in data.team_terms %}
            {% if term.field_media[0] %}
                <figure class="team-image">
                    {{ term.field_media.entity|view('portrait') }}
                    <div class="transparent-box">
                        <figcaption class="caption">
                        <div>{{ term.getName() }}</div>
                        <p class="opacity-low">{{ term.field_role.value }}</p>
                        </figcaption>
                    </div>
                </figure> 
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
