.project-body {
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0.01em;
  max-width: 800px;
  font-size: 1.2rem;
  margin: auto;
}

.project-body p {
  margin: 0 0 30px;
}
.project-body a {
  font-weight: bold;
  color: #9b69ff;
}
.project-body h2 {
  font-family: 'Jura', sans-serif;
  position: relative;
  margin: 40px 0 20px;
  font-size: 2.5rem;
  line-height: 2.6rem;
}
.project-body h2:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.project-body h3,
.project-body h4 {
  margin: 40px 0 20px;
}
.project-body ul,
.project-body ol {
  margin: 0 0 30px;
}
.project-body li {
  position: relative;
  display: block;
  margin: 0 0 20px;
  padding: 0 0 0 25px;
  list-style: none;
}
.project-body ul li:before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #9b69ff; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.project-body ol li {
  counter-increment: list;
}
.project-body ol li:before {
  content: counter(list) ".";
  position: absolute;
  left: 0;
  /* top: 4px; */
  width: 30px;
  font: bold 1.8rem/2.1rem var(--Ubuntu);
  color: var(--coral);
}

.article__media img{
  width: 1000px;
  height: auto;
  margin-left: -100px;
}


/* .project-body blockquote {
  position: relative;
  max-width: 470px;
  margin: 60px auto 40px;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: var(--royal-blue);
  z-index: 1;
}
.project-body blockquote svg {
  position: absolute;
  width: 69px;
  height: 100px;
  left: -35px;
  top: -30px;
  fill: var(--titan-white);
  z-index: -1;
}

.article__media {
  position: relative;
}
.article__media img {
  border-radius: 10px;
}
.article__media figcaption {
  position: relative;
  max-width: 310px;
  left: -80px;
  bottom: 0;
  padding: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4rem;
  line-height: 1.9rem;
  border-radius: 10px;
  background: rgba(247, 247, 247, 0.9);
}*/

.embed-media {
  position: relative;
  margin: 40px 0;
  border-radius: 10px;
  clear: both;
  width: 1000px;
  margin-left: -100px;
}
video {
  position: relative;
  margin: 40px 0;
  border-radius: 10px;
  clear: both;
  width: 1000px;
  margin-left: -100px;
}
/*
.embed-media > figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  cursor: pointer;
}
.embed-media--open-video > figure {
  display: none;
}
.embed-media > figure:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.embed-media > figure:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% + 3px), -50%);
      -ms-transform: translate(calc(-50% + 3px), -50%);
          transform: translate(calc(-50% + 3px), -50%);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 18px solid var(--royal-blue);
}
.embed-media:hover > figure:after {
  border-left-color: var(--orange-roughy);
}
.embed-media > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.embed-media figcaption {
  display: none;
}

.misc-page {
  max-width: 850px;
  margin: -50px auto 100px;
  padding: 60px;
  background: #fff;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .article__media figcaption {
    left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .project-body blockquote {
    max-width: 330px;
  }
  .project-body blockquote svg {
    left: -20px;
    top: -20px;
  }
  .misc-page {
    padding: 40px 10px 10px;
    margin: -50px auto 40px;
  }
}.project-body {
  font: 1.8rem/2.8rem var(--Ubuntu);
  letter-spacing: 0.01em;
}

.project-body p {
  margin: 0 0 30px;
}
.project-body a {
  font-weight: bold;
  color: var(--royal-blue);
}
.project-body h2 {
  position: relative;
  margin: 40px 0 20px;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: var(--orange-roughy);
}
.project-body h2:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--coral);
}
.project-body h3,
.project-body h4 {
  margin: 40px 0 20px;
  color: var(--orange-roughy);
}
.project-body ul,
.project-body ol {
  margin: 0 0 30px;
}
.project-body li {
  position: relative;
  display: block;
  margin: 0 0 20px;
  padding: 0 0 0 25px;
}
.project-body ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 6px;
  height: 6px;
  border: 2px solid var(--coral);
  border-radius: 50%;
}
.project-body ol li {
  counter-increment: list;
}
.project-body ol li:before {
  content: counter(list) ".";
  position: absolute;
  left: 0;
  top: 4px;
  width: 30px;
  font: bold 1.8rem/2.1rem var(--Ubuntu);
  color: var(--coral);
}
.project-body blockquote {
  position: relative;
  max-width: 470px;
  margin: 60px auto 40px;
  font-size: 2.2rem;
  line-height: 2.6rem;
  color: var(--royal-blue);
  z-index: 1;
}
.project-body blockquote svg {
  position: absolute;
  width: 69px;
  height: 100px;
  left: -35px;
  top: -30px;
  fill: var(--titan-white);
  z-index: -1;
}
.article__table {
  margin: 30px 0;
  border-radius: 10px;
  clear: both;
  overflow-x: auto;
}
.project-body table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: left;
}
.project-body thead {
  background: var(--titan-white);
}
.project-body th,
.project-body td {
  padding: 10px 15px;
}
.project-body td {
  background: var(--concrete);
}
.project-body td:first-child,
.project-body th:first-child {
  border-radius: 10px 0 0 10px;
}
.project-body td:last-child,
.project-body th:last-child {
  border-radius: 0 10px 10px 0;
}
.project-body hr {
  max-width: 100px;
  border: none;
  border-top: 1px solid var(--royal-blue);
}

.article__media {
  position: relative;
}
.article__media img {
  border-radius: 10px;
}
.article__media figcaption {
  position: relative;
  max-width: 310px;
  left: -80px;
  bottom: 0;
  padding: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4rem;
  line-height: 1.9rem;
  border-radius: 10px;
  background: rgba(247, 247, 247, 0.9);
}

.embed-media {
  position: relative;
  margin: 40px 0;
  border-radius: 10px;
  clear: both;
}
.embed-media > figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  
  cursor: pointer;
}
.embed-media--open-video > figure {
  display: none;
}
.embed-media > figure:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.embed-media > figure:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(calc(-50% + 3px), -50%);
      -ms-transform: translate(calc(-50% + 3px), -50%);
          transform: translate(calc(-50% + 3px), -50%);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 18px solid var(--royal-blue);
}
.embed-media:hover > figure:after {
  border-left-color: var(--orange-roughy);
}
.embed-media > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.embed-media figcaption {
  display: none;
}

.misc-page {
  max-width: 850px;
  margin: -50px auto 100px;
  padding: 60px;
  background: #fff;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .article__media figcaption {
    left: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .project-body blockquote {
    max-width: 330px;
  }
  .project-body blockquote svg {
    left: -20px;
    top: -20px;
  }
  .misc-page {
    padding: 40px 10px 10px;
    margin: -50px auto 40px;
  }
} */

@media only screen and (max-width: 1000px) {
  .embed-media {
    margin: 40px 0;
    width: 100%;
  }
  video {
    margin: 40px 0;
    width: 100%;
  }
  .article__media img{
    width: 100%;
    margin-left: 0px;
  }
  
}

@media only screen and (max-width: 768px) {
  .project-body {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .project-body {
    margin-left:10px;
    margin-right: 10px;
    font-size: 1rem;
    margin-top: 20px;
  }
  .project-main {
    margin: auto;
  }

}