{#
/**
 * @file
 * Default theme implementation to embed a sofia url.
 *
 * Available variables:
 * - width: The width of the iframe.
 * - height: The height of the iframe.
 * - type: The type of embed: visual or classic.
 *
 * @see template_preprocess_media_sofia_oembed()
 *
 * @ingroup themeable
 */
#}
{% if type == 'video' %}
  {% if view == 'full' %}
    <div style="position: relative; padding-bottom: 56.25%;">
      <iframe width="100%" height="100%" style="position: absolute; top: 0; left: 0;" src="{{ embed_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  {% else %}
    <div class="embed-media">
      <div style="position: relative; padding-bottom: 56.25%;">
        {# {{ iframe|raw }} #}
        <iframe width="100%" height="100%" style="position: absolute; top: 0; left: 0;" src="{{ embed_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  {% endif %}
{% else %}
  <div class="embed-media">
    {{ iframe|raw }}
  </div>
{% endif %}
