<section class="promo">
  {# <img class="bg-image" src="/{{ active_theme_path() }}/images/first-photo.jpg"/> #}
  {{ data.queue.field_media.entity|view('full_top') }}
  <div class="promo-text">
    <div class="promo-title">{{ data.queue.field_title.value }}</div>
    <div class="promo-subtitle">{{ data.queue.field_subtitle.value }}</div>
  </div>
  <div class="logo-wrap">
    {# <figure class="logo">
      <img src="/{{ active_theme_path() }}/images/imbalance-logo.png"/>
    </figure>
  </div> #}
</section>

{% if data.project %}
  <section class="projects">
    <div class="projects-container">
      {# <h1 class="project-teaser-title">Our Latest Project</h1> #}
      <section class="title-area">
        <div class="title-container">
          <div class="top left"></div>
          {# <div class="top right"></div> #}
          <div class="bottom right"></div>
          {# <div class="bottom left"></div> #}
          <h1 class="section-title">
            {{ 'Our Latest Project'|t }}
          </h1>
        </div>
      </section>

      <article class="project-teaser">
        <div class="project-left">
          <div class="project-text">
            <h1 class="project-title">{{ data.project.title.value }}</h1>
            <div class="project-summary">{{data.project.field_description.value}}</div>
            <a class="project-link" href="{{ path('entity.node.canonical', {'node': data.project.id()}) }}"><button class="button button5">{{ 'See more'|t }}</button></a>
          </div>
        </div>
        <figure class="project-image">
          {{ data.project.field_media|view('default') }}
          {# <img src="https://picsum.photos/1000/1000" alt="Image Title" /> #}
        </figure>
      </article>
      
    </div>
  </section>
{% endif %}
{% if data.team_terms %}
  <section class="section">
  {# <h1 class="project-teaser-title">
    Our team
  </h1> #}
  <section class="title-area">
    <div class="title-container">
      <div class="top left"></div>
      {# <div class="top right"></div> #}
      <div class="bottom right"></div>
      {# <div class="bottom left"></div> #}
      <h1 class="section-title">
        Our team
      </h1>
    </div>
  </section>
  <section class="team">
    {{ drupal_view('team', 'promo', data.team_terms) }}
    {# {% for term in data.team_terms %}
      {% if term.field_media[0] %}
        <figure class="team-image">
          {{ term.field_media.entity|view('portrait') }}
          <div class="transparent-box">
              <figcaption class="caption">
                <div>{{ term.getName() }}</div>
                <p class="opacity-low">{{ term.field_role.value }}</p>
              </figcaption>
          </div>
        </figure> 
      {% endif %}
    {% endfor %} #}
  </section>
{% endif %}

{% if data.schedule_ids %}
  <section class="section">
    {# <h1 class="project-teaser-title">
      Schedule
    </h1> #}
    <section class="title-area">
      <div class="title-container">
        <div class="top left"></div>
        {# <div class="top right"></div> #}
        <div class="bottom right"></div>
        {# <div class="bottom left"></div> #}
        <h1 class="section-title">
          {{ 'Screenings'|t }}
        </h1>
      </div>
    </section>
    <div class="section-container">
      {# <div class="event-title">
        {{ 'This is the schedule for the upcoming events info here'|t }}
      </div> #}
      <section id="events" class="events">

        {{ drupal_view('schedule', 'promo', data.schedule_ids) }}

      </section> <!-- cd-timeline -->
    </div>
  </section>
{% endif %}