{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<button{{ attributes.addClass(['more-link', 'more-link--back']) }}>
  <span>{{ attributes.value }}</span>
  {# <svg><<use xlink:href="/{{ active_theme_path() }}/images/sprite.svg#arrow"></use></svg> #}
</button>

