{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - options: The option element children.
 *
 * @see template_preprocess_select()
 */
#}
{% spaceless %}
  {% if attributes.hasAttribute('name') == 'category_id' %}
    <div class="advs-filtering">
      <span>Επίλεξε είδος αγγελίας:</span>
      <select{{ attributes }}>
        {% for option in options %}
          {% if option.type == 'optgroup' %}
            <optgroup label="{{ option.label }}">
              {% for sub_option in option.options %}
                <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
              {% endfor %}
            </optgroup>
          {% elseif option.type == 'option' %}
            <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  {% else %}
    <select{{ attributes }}>
      {% for option in options %}
        {% if option.type == 'optgroup' %}
          <optgroup label="{{ option.label }}">
            {% for sub_option in option.options %}
              <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
            {% endfor %}
          </optgroup>
        {% elseif option.type == 'option' %}
          <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
        {% endif %}
      {% endfor %}
    </select>
  {% endif %}
{% endspaceless %}
