{% if content %}
  <span>
    {{ content.field_media_image }}
  </span>
  {% if content.field_caption %}
    <figcaption>
      {{ content.field_caption }}
    </figcaption>
  {% endif %}
{% endif %}
