{% if content %}
  <figure class="article__media">
    {{ content.field_media_image }}
    {% if content.field_caption['#items'] %}
      <figcaption>
        {{ content.field_caption }}
      </figcaption>
    {% endif %}
  </figure>
{% endif %}
