{% if content %}
  {{ content.field_media_image }}
  <div class="transparent-box">
    {% if content.field_caption['#items'] %}
      <figcaption class="caption">
        <p class="opacity-low">{{ content.field_caption }}</p>
      </figcaption>
    {% endif %}
  </div>
{% endif %}
