<article class="project">
<section class="project-top">
  {% if not node.field_video.isEmpty() %}
    {{ node.field_video.entity|view('full_top') }}
  {% else %}
    <figure class="cover">
      {{ node.field_media.entity|view('full_width') }}
    </figure>
  {% endif %}
  <div class="project-info-main">
    <div class="project-info-title">
      <h1>{{ node.title.value }}</h1>
      <div class="project-info-credits">
        {% for detail in node.field_details %}
          <div><span>{{ detail.first }}</span> | {{ detail.second }} </div>
        {% endfor %}
      </div>
    </div>
    <div class="project-info-subtitle">
      <span>{{ node.field_description.value }}<span>
    </div>
  </div>
</section>
<section class="project-main">
  <div class="project-body">
    {{ processed_body|raw }}
  </div>
</section>
</article>

{% if data.schedule_ids %}
  <section class="section">
    {# <h1 class="project-teaser-title">
      Schedule
    </h1> #}
    <section class="title-area">
      <div class="title-container">
        <div class="top left"></div>
        {# <div class="top right"></div> #}
        <div class="bottom right"></div>
        {# <div class="bottom left"></div> #}
        <h1 class="section-title">
          {{ 'Screenings'|t }}
        </h1>
      </div>
    </section>
    <div class="section-container">
      {# <div class="event-title">
        {{ 'This is the schedule for the upcoming events info here'|t }}
      </div> #}
      <section id="events" class="events">

        {{ drupal_view('schedule', 'promo', data.schedule_ids) }}

      </section> <!-- cd-timeline -->
    </div>
  </section>
{% endif %}