{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{% if title %}

  <section class="title-area">
    <div class="title-container">
      <div class="top left"></div>
      {# <div class="top right"></div> #}
      <div class="bottom right"></div>
      {# <div class="bottom left"></div> #}
      <h1 class="section-title">
        {{ title|render }}
      </h1>
    </div>
  </section>
{% endif %}
