<div class="contact-info">
  <p>
    {{ 'Αν θέλετε να επικοινωνήσετε μαζί μας, στείλτε μας email στο <a href="mailto:imbalance.films@gmail.com">imbalance.films@gmail.com</a> ή συμπληρώστε την παρακάτω φόρμα.'|t }}
  </p>
</div>
{{ pixual_drupalEntity('webform', 'contact') }}