  <figure class="modal">
    <img src="" />
  </figure>
<section class="gallery">
  {% for image in data.gallery %}
    <figure class="gallery-image" data-default-img="{{ image|file_url }}">
      {{ image.entity|view('default_teaser') }}
    </figure> 
  {% endfor %}
</section>