{{ xembed_view('articles', 'latest', 0, 2, {'display': 'double_teaser'}, data.term.id) }}

<div id="billboard1" class="adv adv--full">
  <script>
    googletag.cmd.push(function() {
      googletag.display("billboard1");
    });
  </script>
</div>