{{ xembed_view('articles', 'promo', 0, 4, {'display': 'primary_teaser'}, data.nids) }}

<div id="billboard1" class="adv adv--full">
  <script>
    googletag.cmd.push(function() {
      googletag.display("billboard1");
    });
  </script>
</div>
