@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Roboto-Regular'), local('Roboto'),
       url('../../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../../fonts/Roboto-Regular.woff') format('woff'),
       url('../../fonts/Roboto-Regular.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Manrope';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Manrope-Regular'), local('Manrope'),
       url('../../fonts/Manrope-Regular.woff2') format('woff2'),
       url('../../fonts/Manrope-Regular.woff') format('woff'),
       url('../../fonts/Manrope-Regular.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Jura';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local('Jura-Regular'), local('Jura'),
       url('../../fonts/Jura-Regular.woff2') format('woff2'),
       url('../../fonts/Jura-Regular.woff') format('woff'),
       url('../../fonts/Jura-Regular.eot') format('embedded-opentype');
}