html {
  box-sizing: border-box;
  background: black;
  font-family: 'Jura', sans-serif;
  color: white;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.imb-menu {
  font-family: 'Jura', sans-serif;
  background: #212121;
  height: 70px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.imb-menu #brand {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.imb-menu #menu {
  position: relative;
  display: flex;
  height: 100%;
}
.imb-menu #menu li {
  padding: 0px 30px;
  cursor: pointer;
  line-height: 70px;
  transition: all 0.3s ease-out;
}
.imb-menu #menu li:hover {
  background: #333;
}
.imb-menu #menu li a {
  color: #fff;
}
@media (max-width: 768px) {
  .imb-menu #menu {
    display: none;
  }
}
#hamburger {
  position: absolute;
  right: 10px;
  top: 14px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}
#hamburger .line {
  height: 7px;
  background: #9b69ff;
  margin: 5px auto;
  backface-visibility: hidden;
}
#hamburger.active #one {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}
#hamburger.active #two {
  opacity: 0;
}
#hamburger.active #three {
  transform: rotate(-45deg) translateX(10px) translateY(-12px);
}
.lang-menu {
  margin-right: 50px;
  visibility: hidden;
  display: none;
}
@media (max-width: 768px) {
  #hamburger {
    visibility: visible;
    opacity: 1;
  }
  .lang-menu {
    visibility: visible;
    display: block;
  }
}
.mobile-menu {
  z-index: 1;
  position: absolute;
  top: 0px;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  display: table;
}
.mobile-menu .mobile-menu__items {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.mobile-menu .mobile-menu__items li {
  display: block;
  text-align: center;
  padding: 20px 0;
  text-align: center;
  font-size: 35px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.mobile-menu .mobile-menu__items li:hover {
  color: #fff;
  background: #9b69ff89;
}
.mobile-menu .mobile-menu__items li:hover a {
  transition: all 0.3s ease-out;
  color: #fff;
}
.mobile-menu .mobile-menu__items li a {
  color: #ffffff;
}
.mobile-menu.active {
  visibility: visible;
  opacity: 0.99;
}
@media (min-width: 769px) {
  .mobile-menu {
    visibility: hidden !important;
  }
}

.promo img {
  width: 100%;
  height: auto;
  opacity: 0.5;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.logo-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.logo:hover {
  animation: mymove 2s infinite;
}

@keyframes mymove {
  10%, 90% {
    transform: rotate(5deg);
  }
  
  20%, 80% {
    transform: rotate(-5deg);
  }

  30%, 50%, 70% {
    transform: rotate(5deg);
  }

  40%, 60% {
    transform: rotate(-5deg);
  }
  
}

.promo {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.promo-text {
  font-family: 'Jura', sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50pt;
  color: white;
  width: 60%;
}

.promo-subtitle {
  margin-top: 15px;
  font-size: 20pt;
}


@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.project-teaser {
  width: 100%;
  height: 100%;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin: auto;
  overflow: hidden;
  display: inline-flex;
}
.project-left {
  display: contents;
}
.project-teaser-title {
  text-align: center;
  width: auto;
  color: white;
  font-size: 50px;
  margin-bottom: 20px;
  margin: 30px;
  text-shadow: 0 0 30px #9b69ff;
  border-bottom: 2px solid #9b69ff;
  border-right: 2px solid #9b69ff;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
}
.projects img {
  width: 100%;
  height: 100%;
}
.project-text {
  width: 40%;
  /* height: 100%;
  float: left;
  top: 30%; */
  margin: auto;
  left: 3%;
  /* position: absolute; */
  color: white;
}

.project-title {
  margin-bottom: 10%;
  font-size: 40px;
}

.project-image {
  height: 100%;
  width: 50%;
  height: auto;
  float: right;
    position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .project-title {
    font-size: 50px;
  }
  .project-summary {
    font-size: 18pt;
  }
  .project-text {
    float:none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
    text-align: center;
  }
  .promo-text{
    font-size:20px;
  }
  .project-image {
    width:100%;
    float:none;
    opacity: 0.3;
  }
  

  .main-menu {
    display: none;
  }
}

.button {
  font-family: 'Jura', sans-serif;
  background-color: transparent;
  color: #9b69ff;
  border: 2px solid #9b69ff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 50px;
  font-weight: bold;
}

.button:hover {
  background-color: #9b69ff;
  color: #000;
  border: 2px solid #9b69ff;
}

.logo-main img{
  float: left;
  width: auto;
  height: 60px;
  margin-left: 30px;
}

.header {
  background: rgba(0, 0, 0, 0);
  height: 80px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10px; */
  position: fixed;
  top: 0px;
  width: 100%;
}

.main-menu {
  font-family: 'Jura', sans-serif;
  position: relative;
  display: flex;
  height: 100%;
  margin-right: 0px;
  margin-left: auto;
  white-space: nowrap;
}

.main-menu li {
  padding: 0px 30px;
  cursor: pointer;
  line-height: 70px;
  transition: all 0.3s ease-out;
  font-size: 15pt;
}
.main-menu li:hover {
  background: #9b69ff89;
}
.main-menu li a {
  color: #fff;
  padding: 20px 0px;
}

.lang-menu li {
  padding: 0px 30px;
  cursor: pointer;
  line-height: 70px;
  transition: all 0.3s ease-out;
  font-size: 15pt;
}
lang-menu li:hover {
  background: #9b69ff89;
}
.lang-menu li a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .main-menu {
    display: none;
  }

  .header {
    background: rgb(0, 0, 0);
    top: 0px;
  }

  .container--main {
    margin-top: 70px;
  }
}

@media screen and (max-width: 650px) {
  .logo-main img{
    width: 60%;
    height: auto;
  }
}

.team {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1800px;
  margin: auto;
}

.team img {
  height: 375px;
  width: 300px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.team-image {
  box-sizing: content-box;
  margin: 10px;
  height: 375px;
  width: 300px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  right: 10px;
  /* opacity: 0.0; */
  transition: transform 0.3s ease, opacity 0.3s ease;
  text-align: center;
}

.caption div{
  font-size: 25px;
}

.transparent-box {
  height: 375px;
  width: 300px;
  background: linear-gradient(0deg, #000000b8, transparent);
  /* background-color:rgba(0, 0, 0, 0.5); */
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.team-image:hover img { 
  transform: scale(1.1);
}

.team-image:hover .transparent-box {
  background-color: #4304977d;
}

.team-image:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.team-image:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 20px;
}

.opacity-low {
  opacity: 0.5;
}

/* 
.team {
  display: flex;
  flex-wrap: wrap;
}
.team-member {
  float: left;
  width: 25%;
  height: 500px;
  margin-bottom: 16px;
  padding: 28px 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
 .team-member figure {
  overflow: hidden;
  text-align: center;
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.team-member-info {
  position: absolute;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 20%
}
@media (hover: hover) {
 .team-member:hover img {
   transform: scale(1.2);
   background: linear-gradient(180deg, rgba(0, 17, 64, 0.2) 0%, rgba(37, 76, 181, 0.8) 100%);

  }
  .team-member:hover figure{
    background: #8c00c3;
  }
  .team-member:hover h2:after {
    display: block;
  }
}

@media screen and (max-width: 650px) {
 .team-member {
   width: 100%;
   display: block;
  }
} */


.events {
  /* width: 60%; */
  /* float: right; */
  max-width: 1080px;
  margin: 0 auto;
  background: #000000;
  padding: 0 10%;
  border-radius: 2px;
  /* display: inline-block; */
}
.events::after {
  content: '';
  display: table;
  clear: both;
}



.events {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.events::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #9b69ff;
}
@media only screen and (min-width: 1170px) {
  .events {
    margin-top: 3em;
    margin-bottom: 3em;
  }
 .events::before {
    left: 50%;
    margin-left: -2px;
  }
}

.event {
  position: relative;
  margin: 2em 0;
}
.event:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 1170px) {
  .event {
    margin: 4em 0;
  }
  .event:first-child {
    margin-top: 0;
  }
  .event:last-child {
    margin-bottom: 0;
  }
}

.event-img {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #9b69ff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.event-img {
  background: #000000;
}
 @media only screen and (min-width: 1170px) {
  .event-img {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;

    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.event-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: #ffffff1a;
  border-radius: 2px;
  padding: 1em;
}
  .event-content-info {
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
  }
    i {
      margin-right: 5px;
    }
    .event-content-info-title, .timeline-content-info-date {  
      width: calc(50% - 2px);
      display: inline-block;
    }
    @media (max-width: 500px) {
      .event-content-info-title, .event-content-info-date {  
        display: block;
        width:100%;
      } 
    }
.event-content:after {
  content: "";
  display: table;
  clear: both;
}
.event-content h2 {
  color: rgba(255,255,255,.9);
  margin-top:0;
  margin-bottom: 15px;
}
.event-content p, .event-content .event-date {
  color: rgba(255,255,255,.7);
  font-size: 13px;
  font-size: 0.8125rem;
}
.event-content .event-date {
  display: inline-block;
}
.event-content p {
  line-height: 1.6;
  font-size: 0.8125rem;
}

.event-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
  .event-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .event-content p {
    font-size: 16px;
    font-size: 0.9rem;
  }
  .event-content .cd-read-more, .event-content .event-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .event-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  .event-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .event-content .event-date {
    position: absolute;
    width: 100%;
    left: 140%;
    top: 30px;
    font-size: 16px;
    font-size: 1rem;
  }
  .event:nth-child(even) .event-content {
    float: right;
  }
  .event:nth-child(even) .event-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
  .event:nth-child(even) .event-content .cd-read-more {
    float: right;
  }
  .event:nth-child(even) .event-content .event-date {
    left: auto;
    right: 140%;
    text-align: right;
  }
}

.section {
  margin-top: 20px;
  max-width: 1440px;
  margin: auto;
}

.event-title {
  /* width: 30%; */
  height: 100%;
  /* float: left; */
  top: 30%;
  margin: 10px;
  left: 3%;
  color: white;
  /* margin-top: 20%; */
  font-size: 30px;
  /* display: inline-block; */
  text-align: center;
}

.section-container {
  overflow: hidden;

}

.title-area {
  width: 100%;
  text-align: center;
  font-family: 'Jura', sans-serif;
}
.title-area .title-container {
  position: relative;
  width: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.top, .bottom {
  position: absolute;
  width: 40px;
  height: 40px;
  pointer-events: none;
}

.top {
  top: 0;
  border-top: 5px solid #9b69ff;
}

.bottom {
  bottom: 0;
  border-bottom: 5px solid #9b69ff;
}

.left {
  left: 0;
  border-left: 5px solid #9b69ff;
}

.right {
  right: 0;
  border-right: 5px solid #9b69ff;
}

.social svg {
  width: 25px;
  margin: 10px;
}

.social {
  margin-top: 50px;
}

.social div{
  color: rgba(255, 255, 255, 0.7);
}

footer {
  height: 150px;
  text-align: center;
  border-top: 1px solid #9b69ff;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  /* promo */
  .promo {
    overflow: hidden;
  }

  .promo img {
    width: 200%;
    margin-left: -50%;
  }

  .promo-text {
    width: 90%;
  }

  .promo-title {
    font-size: 50px;
  }
  .promo-subtitle {
    font-size: 18pt;
  }
  /*title*/
  .title-area .title-container {
    font-size: 50px;
  }
  /* project teaser */
  .project-text {
    margin-bottom: 100px;
    margin-top: -80px;
    /* width: 100%; */
    z-index: 1;
  }
  .project-title {
    font-size: 50px;
    width: 100%;
  }
  .projects img {
    width: 150%;
    height: auto;
  }

  /* events */
  .event-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {

  .title-area .title-container {
    font-size: 30px;
  }
  .promo-title {
    font-size: 30px;
  }
  .promo-subtitle {
    font-size: 12pt;
  }
  .project-title {
    font-size: 30px;
  }
  .project-summary {
    font-size: 12pt;
  }
  
}

/* local tasks */

.local-tasks {
    margin-top: 100px;
    color: white;
    display: flex;
}

.local-tasks li {
    margin: 10px;
}

.local-tasks li a {
    color: white;
}